body{
	font-family: "IntuitiveRegular";
}
h1{
	font-size: 50px;
	color: #ff0000;
}
 
/*nav*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff8000;
}

li {
  float: left;
  border-right:1px solid white;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:  #4CAF50;
}

.active {
  background-color: #4CAF50;
}

/*carrousel*/
.slider{
	width: 400px;
	height: 400px;
	overflow: hidden;
	margin: 100px auto;
}
.slides{
	width: calc(500px * 3);
	animation: glisse 10s infinite;
}
.slide{
	float: left;
}
@keyframes glisse{
	0%{
		transform: translateX(0);
	}
	10%{
		transform: translateX(0);
	}
	33%{
		transform: translateX(-500px);
	}
	43%{
		transform: translateX(-500px);
	}
	66%{
		transform: translateX(-1000px);
	}
	76%{
		transform: translateX(-1000px);
	}
	33%{
		transform: translateX(-1000px);
	}
	100%{
		transform: translateX(0);
	}
}
/*_____*/
.rubrique{
	margin-bottom: 50px;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
}
.engagements{
	background-color: yellow;
}


.fournisseur{
	background-color: #41a62b;
}



.bouton a {
background-color: #ff8000;
color:black;
text-decoration:none;
border: 2px solid #ff0000;
	border-top-left-radius: 50px 50px;
	border-top-right-radius: 50px 50px;
	border-bottom-left-radius: 50px 50px;
	border-bottom-right-radius: 50px 50px;

}
.bouton a:hover {
color:#ff0000;
background-color: #41a62b;

}
/* footer*/

footer{
	background-color: black;
	color: #ff8000;
	height: 250px;
	padding-top: 2%;
}
footer a{
	color: #ff0000;
}
footer a:hover{
	color: #41a62b;
}
#row{
	display: flex;
	text-align: center;
}
article{
	text-align: justify;
}